# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
.env
.venv
*.egg-info/
*.egg
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Logs
*.log

# Data directories
data/gcode/
data/generated_svgs/
data/printed_results/

# IDEs
.idea/
.vscode/